* {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}
html {
  font-size: 16px;
}
body {
  background-color: #e9e9e9;
}
.header {
  width: 100%;
  text-align: center;
  height: 200px;
  background-color: #00b0c8;
  box-shadow: 0px 5px 6px #949496;
}

.Header-main {
  margin: 0 auto;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
}
.Header-logo a {
  color: #e9e9e9;
  font-size: 4rem;
}
.Header-nav a {
  color: #e9e9e9;
  font-size: 2rem;
}
#content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
}
.Characters {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.Character-item {
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0px 5px 6px #949496;
  overflow: hidden;
}
.Character-item:hover {
}
.Character-item img {
  width: 100%;
  border-bottom: 5px solid #00b0c8;
}
.Character-item h2 {
  margin: 10px;
  color: #6b6b6b;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}
.Character-inner {
  width: 100%;
  height: 310px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.Character-img {
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 5px solid #00b0c8;
  box-shadow: 0px 5px 6px #949496;
  position: relative;
}
.Character-img img {
  width: 100%;
}
.Character-card {
  box-shadow: 0px 5px 6px #949496;
  background-color: #f9f9f9;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
}
.Character-card h2 {
  margin-bottom: 10px;
  color: #00b0c8;
  font-size: 1.8rem;
  font-weight: 600;
}
.Character-card h3 {
  color: #6b6b6b;
  font-size: 1.4rem;
  font-weight: 400;
}
.Error404 {
  width: 100%;
  max-width: 1000px;
  text-align: center;
}
.Error404 h2 {
  color: #00b0c8;
  font-size: 5rem;
}
@media screen and (max-width: 1000px) {
  .Characters {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 90%;
    margin: 0 auto;
  }
  .Character-inner {
    grid-template-columns: 1fr 1fr;
  }
  .Character-img img {
    transform: translateY(-15%);
  }
}
@media screen and (max-width: 700px) {
  .Character-inner {
    margin: 0 auto;
    width: 90%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .Character-img img {
    transform: translateY(0);
  }
  .Character-img {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-right: none;
    border-bottom: 5px solid #00b0c8;
    box-shadow: none;
  }

  .Character-card {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
  }
}
